/* !media queries start */

/* navbar */
@media screen and (max-width: 1400px) {
    /* header  start*/
    .header-list {
      display: none;
    }
    header {
      height: 68px;
    }
    .header-btns button {
      width: 68px;
      height: 68px;
    }
    /* header end */
    /* main section 1 start */
  
    .mainsection-options {
      width: 100%;
    }
    /* main section 1 end */
  }
  
  @media screen and (max-width: 1200px) {
    /* main section 1 start */
    .mainsection-options {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    .mainsection-options-item {
      width: calc(50% - 2px);
      margin: 0;
      margin-bottom: 4px;
      padding: 15px;
    }
    /* main section 1 end */
    /* third section end*/
    .third-section-box {
      margin-top: 0;
    }
    /* third section */
  
    /* featured projects section */
  
    .featured-projects-title-btn a {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1000px) {
    /* main section 1 start */
    .mainsection-content {
      width: 90%;
    }
  
    /* main section 1 end */
  
    .second-section-right-box {
      padding-left: 3%;
    }
    .second-section-right-number {
      font-size: 130px;
    }
    /* third section start */
    .third-section-media {
      position: relative;
      width: 90%;
    }
    .third-section-box {
      flex-direction: column;
      align-items: flex-start;
    }
    .third-section-content-box {
      width: 100%;
    }
    .third-section-header-mobile {
      display: inline;
      font-size: 30px;
      font-weight: 400;
      margin: 0;
      padding-left: 40px;
      margin-bottom: 2%;
    }
    .third-section-content-box h3 {
      display: none;
    }
    /* third section end */
  
    /* stories section start */
    .stories-section-box {
      margin-top: 10%;
    }
    .story-card {
      width: 50%;
    }
    .story-card-content {
      height: 360px;
    }
    /* stories section end */
  
    /* events section start */
    .events-section {
      flex-direction: column;
      align-items: flex-end;
    }
    .events-section-press-box,
    .events-section-calendar-box {
      width: 90%;
      margin-bottom: 2%;
      margin-right: 0;
    }
  
    /* events section end */
  
    /* more section start */
    .more-section {
      justify-content: center;
      flex-direction: column;
      height: 550px;
    }
    .more-section-card {
      width: 85%;
      margin-bottom: 1%;
    }
    .more-section-card:last-of-type {
      margin-bottom: 0;
    }
    /* more section end */
  
    /* form section start */
    .submit-form-section {
      flex-direction: column;
    }
    .submit-form-section-text-intro {
      width: 100%;
    }
    .submit-form-box {
      width: 90%;
    }
    .consent-box,
    .consent-box p {
      width: 100%;
      padding-bottom: 2%;
    }
    /* form section end */
    /* footer section start */
    .footer-top-box-text {
      width: 50%;
    }
    .footer-box-card {
      width: 25%;
      padding: 0;
      padding-left: 2%;
    }
    .footer-box-card:last-of-type {
      padding-left: 0;
    }
    /* footer section end */
  }
  
  @media screen and (max-width: 780px) {
    /* main section 1 start */
    .mainsection-content-text {
      padding: 20px;
    }
  
    .mainsection-content-text h1 {
      font-size: 35px;
      line-height: 35px;
      width: 90%;
    }
  
    .mainsection-content-text p {
      font-size: 20px;
    }
    /* main section 1 end */
  
    /* main section 1 start */
  
    .mainsection-content-text {
      padding-bottom: 40px;
    }
    .mainsection-content-text h1 {
      font-size: 44px;
      width: 65%;
      line-height: 44px;
    }
  
    .mainsection-content-form {
      border: 2px red solid;
      display: none;
    }
  
    .mainsection-options-item {
      width: calc(100% - 2px);
      margin: 0;
      margin-bottom: 4px;
    }
    /* main section 1 end */
    /* second section start */
  
    .second-section-box {
      flex-direction: column;
    }
    .second-section-right-box,
    .second-section-left-box {
      width: 100%;
    }
  
    .second-section-right-box {
      padding-top: 0;
    }
    .second-section-left-box h2 {
      font-size: 30px;
    }
    /* second section end */
  
    /* featured projects start */
  
    .featured-projects-card {
      width: 100%;
      margin-bottom: 15%;
    }
  
    .featured-projects-title-btn {
      width: 80%;
      margin: auto;
      left: 10%;
      bottom: -10%;
    }
  
    /* featured projects end */
  
    /* events section */
  
    .events-cards-box {
      padding-left: 0;
    }
    .events-section-press-box,
    .events-section-calendar-box {
      padding-right: 2%;
    }
    /* events section end */
    /* footer section start */
    .footer {
      padding-bottom: 8%;
    }
  
    .footer-top-box-text {
      width: 100%;
    }
    .footer-box-card {
      width: 50%;
      padding: 0;
      padding-right: 2%;
      padding-top: 1%;
    }
    .footer-box-card:last-of-type {
      padding-left: 0;
    }
    #btn-to-top-text,
    #footer-logo {
      display: none;
    }
    .footer-green-btn {
      display: block;
      top: auto;
      bottom: 0;
      right: 4%;
    }
    /* footer section end */
  }
  @media screen and (max-width: 600px) {
    /* stories section */
    .story-card {
      width: 100%;
    }
    .story-card-content {
      height: 300px;
    }
  
    .events-section-press-box h2,
    .events-section-calendar-box h2 {
      margin: 15% 0;
    }
    /* form section */
    .submit-form-box-top {
      display: flex;
      flex-direction: column;
    }
    .submit-form-left-inputs,
    .submit-form-right-inputs {
      width: 100%;
    }
    .submit-form-left-inputs {
      padding: 0;
    }
    /* form section */
  }
  
  @media screen and (max-width: 500px) {
    #header-logo {
      width: 50px;
      font-size: 30px;
    }
    .second-section-right-number {
      font-size: 6em;
    }
    .story-card-content {
      height: 350px;
    }
  }
  